/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
}

ul, ol {
    list-style: none;
}

body {
    margin: 0;
    background-color: #000000;
}

/* Hvidt logo øverst venstr hjørne */
.image-container #logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    width: 50px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
}

.welcome-text {
    font-size: 2rem;
    margin-bottom: 10px;
}

.main-logo {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtext {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    background-color: #75242C;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #A4414B;
}



/* Forsidebillede og logo media queries */
@media (min-width: 768px) {
    #front-page-image img {
        width: auto;
        height: auto;
    }

    #logo {
        content: url(/img/LogostorHvid.webp);
        width: 150px;
    }
}

/* header */
.header {
    background-color: transparent; /* Gør headeren helt gennemsigtig */
    position: fixed;
    width: 100%;
    z-index: 2; /* Sørg for, at headeren ligger over menuen */
    transition: background-color 0.3s ease;
}

/* header liste */
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
}

/* header liste tekst */
.header li a {
    color: #ffffff;
    padding: 20px;
    display: block;
    text-align: center;
}

/* menu */
.header .menu {
    position: absolute;
    top: 0; /* Start ved toppen af skærmen */
    left: 0;
    right: 0;
    background-color: #E2DDCE; /* Baggrundsfarve til dropdown-menuen */
    padding: 10px 0;
    max-height: 0;
    overflow: hidden; /* Skjul indhold indtil menuen åbnes */
    transition: max-height 0.3s ease-out;
    z-index: 1; /* Sørg for, at menuen ligger bag logo og burgerikon */
}

/* menu ikon */
.header .menu-icon {
    cursor: pointer;
    padding: 28px 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 3; /* Sørg for, at burgerikonet er over menuen */
    user-select: none;
}

/* menu ikon styling */
.header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu knap */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px; /* Åbn menuen ved klik */
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* responsiv design - under 768px */
@media (max-width: 767px) {
    .header .menu {
        display: none; /* Skjuler menuen helt under 768px */
    }

    .header .menu-btn:checked ~ .menu {
        display: block; /* Vis menuen, når burgerikonet er klikket */
        max-height: 240px;
    }
}

/* responsiv design - 768px og derover */
@media (min-width: 768px) {
    .header li {
        float: right; /* Placer menupunkter til højre */
    }
    .header li a {
        padding: 20px 30px;
        text-align: right; /* Justér tekst til højre */
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        background-color: transparent; /* Transparent på større skærme */
        padding: 0;
        border-radius: 0;
    }
    .header .menu-icon {
        display: none; /* Skjul burgerikonet på større skærme */
    }
}
